

{% extends "polls/base.html" %}
{#  load staticfiles %}#}
{% block body_block %}
<div class="content">
          <h1>Witaj w aplikacji Time Manager</h1>
<form action="{% url 'polls:login' %}" method="post">
{% csrf_token %}

    <label for="username">Wpisz login</label><br>
    <input type="text" id="login" name="username" ><br>
    <label for="password">Wpisz hasło</label><br>
    <input type="password" id="password" name="password" ><br>
    <p></p>
    <input class="login-input" type="submit" value="Zaloguj">
</form>
</div>

{% endblock %}