

{% extends "polls/base.html" %}
{#  load staticfiles %}#}
{% block body_block %}
<div class="content">
<form action="{% url 'polls:login' %}" method="post">
{% csrf_token %}

    <label for="username">Login</label><br>
    <input type="text" id="login" name="username" ><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" ><br>
    <label for="position">Stanowisko</label><br>
    <input type="submit" value="login">
</form>
</div>

{% endblock %}