{% extends "polls/base.html" %}
{#  load staticfiles %}#}
{% block body_block %}
  <div class="container">

   <table>
  <tr>
      <th>Id</th>
      <th>Who</th>
      <th>What</th>
      <th>Project</th>
      <th>Start_date</th>
      <th>Edn_date</th>
      <th>Delet</th>
  </tr>

{% if notifikation.count > 0  %}
    <tr>
    {% for n in notifikation %}
         <td>{{ n.idNotification }}</td>
         <td>{{ n.who }}</td>
         <td>{{ n.what }}</td>
         <td>{{ n.projectOwner }}</td>
         <td>{{ n.start_date }}</td>
        <td>{{ n.edn_date }}</td>
        <td>
            <form action="{% url 'polls:notifikationDelee' %}" method="post">
        {% csrf_token %}
             <input type="number" id="id" name="id" style="display: none" value="{{ n.idNotification }}">
            <input type="submit" value="Delete">
        </form></td></tr>
    {% endfor %}

{% else %}
    <p>No polls are available.</p>
{% endif %}
       <h1>Godziny w obecnym miesiacu: {{sumHouersInMonth}}  </h1>
        <h2>Godziny w poprzednim miesiacu: {{sumHouersInLastMonth}}  </h2>
</table>
  </div>
{% endblock %}