{% extends "polls/baseUser.html" %}
{#  load staticfiles %}#}
{% block body_block %}
<script>
    $(function (){
        $("#id_start_date").datetimepicker({
            format: 'd/m/Y H:i',
            });
           });
        $(function (){
        $("#id_end_date").datetimepicker({
            format: 'd/m/Y H:i',
            });
           });
</script>
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Czas pracy zarejestrowany</h1>
      {% else %}
        <h1>Formularz czasu pracy</h1>
        <h3>Wypełnij formularz i wyślij</h3>
        <form enctype="multipart/form-data" action="{% url 'polls:notifikationSend' %}" method="POST">
            {% csrf_token %}
                {{ noti_form.as_p }}
            <input type="submit" name="" value="Wyślij">
        </form>
        
      {% endif %}
    </div>
  </div>
{% endblock %}