{% extends "polls/base.html" %}
{#  load staticfiles %}#}
{% block body_block %}
<table>
  <tr>
      <th>Id</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Login</th>
      <th>Stanowisko</th>
      <th>Admin</th>
      <th>Wyświetl</th>
  </tr>
{#  admin, id, position, user, user_id #}
{% if person.count > 0  %}
    <tr>
    {% for p in person %}
         <td>{{ p.id }}</td>
         <td>{{ p.user.first_name }}</td>
         <td>{{ p.user.last_name }}</td>
         <td>{{ p.user.username }}</td>
         <td>{{ p.position }}</td>
         <td>{{ p.admin }}</td>
        <td><a href="{% url 'polls:detailPerson'  p.id %}"><button value="Wyswietl">Wyswietl</button> </a></td></tr>
    {% endfor %}

{% else %}
    <p>No polls are available.</p>
{% endif %}
</table>
<a href="{% url 'polls:register' %}" ><button>Add</button></a>

{% endblock %}