{% extends "polls/base.html" %}
{#  load staticfiles %}#}
{% block body_block %}
<h1>Strona Główna Administratora</h1>
<div class="container">
<h2>{{ person.user.first_name }} {{  person.user.last_name }}</h2>
    <h3>Twoje raporty czasu pracy</h3>
   <table>
  <tr>
      <th>ID Projektu</th>
<!--      <th>Who</th>-->
      <th>Nazwa Projektu</th>
      <th>Projekt</th>
      <th>Rozpoczęcie</th>
      <th>Zakończenie</th>
      <th>Usunąć?</th>
  </tr>
{% if notifikation.count > 0  %}
    <tr>
    {% for n in notifikation %}
         <td>{{ n.idNotification }}</td>
<!--         <td>{{ n.who }}</td>-->
         <td>{{ n.what }}</td>
         <td>{{ n.projectOwner }}</td>
         <td>{{ n.start_date }}</td>
        <td>{{ n.edn_date }}</td>
        <td>
            <form action="{% url 'polls:notifikationDelee' %}" method="post">
        {% csrf_token %}
             <input type="number" id="id" name="id" style="display: none" value="{{ n.idNotification }}">
            <input type="submit" value="Usuń">
        </form></td></tr>
    {% endfor %}
   </table>
{% else %}
    <p>Brak raportów w tym miesiącu</p>
{% endif %}
       <h1>Godziny w obecnym miesiacu: {{sumHouersInMonth}}  </h1>
    <h2>Godziny w poprzednim miesiacu: {{sumHouersInLastMonth}}  </h2>
    <a class="navbar-brand" href="{% url 'polls:raportMont' %}">Zakończenie miesiąca</a>
</div>
{% endblock %}