<style>
    a.raports:hover{
        background: #0C9AB8 !important;
    }
    .headers{
        padding: 20px 20px 40px 20px;
        background: #00739e;
        box-shadow: 6px 10px 58px -13px rgba(0,0,0,0.32);
        border-radius: 15px;
    }
    input[type="submit"]{
        background: #cc2020 !important;
        border-radius: 5px !important;
    }
    input[type="submit"]:hover{
        letter-spacing: 2px !important;
        background: #e02c2c !important;
    }

</style>
{% extends "polls/base.html" %}
{#  load staticfiles %}#}
{% block body_block %}
<h1>Strona Główna Administratora</h1>
<div class="container">
<h2 style="letter-spacing: 2px;">UŻYTKOWNIK <span style="border: 1px solid #000; padding: 10px; background: black; border-radius: 5px; margin-left: 15px;"> {{ person.user.first_name }} {{  person.user.last_name }}</span></h2>
    <h2>Status: {{person.position}}</h2>
    <h3 style="color: #ffd230; letter-spacing: 2px; border-bottom: 1px solid #ffd230; padding-bottom: 15px; margin-top: 25px;">Twoje raporty czasu pracy</h3>
   <table>
  <tr>
      <th>ID Projektu</th>
<!--      <th>Who</th>-->
      <th>Nazwa Projektu</th>
      <th>Projekt</th>
      <th>Rozpoczęcie</th>
      <th>Zakończenie</th>
      <th>Usunąć?</th>
  </tr>
{% if notifikation.count > 0  %}
    <tr>
    {% for n in notifikation %}
         <td>{{ n.idNotification }}</td>
<!--         <td>{{ n.who }}</td>-->
         <td>{{ n.what }}</td>
         <td>{{ n.projectOwner.name }}</td>
         <td>{{ n.start_date }}</td>
        <td>{{ n.edn_date }}</td>
        <td>

          {% csrf_token %}
            <form enctype="multipart/form-data" action="{% url 'polls:notifikationDelee' %}" method="post">
        {% csrf_token %}
                <input type="text" id="typ" name="typ" style="display: none" value="start">
             <input type="number" id="id" name="id" style="display: none" value="{{ n.idNotification }}">
            <input type="submit" value="Usuń">
        </form></td></tr>
    {% endfor %}
   </table>
{% else %}
    <p>Brak raportów w tym miesiącu</p>
{% endif %}
    <div class="headers" >
    <h2 style="text-align: center;">Suma godzin w obecnym miesiącu: <span style="border: 1px solid #000; padding: 10px; background: black; border-radius: 5px; margin-left: 15px; text-align: center;">{{sumHouersInMonth}} </span> </h2>
    <h2 style="margin-top: 50px; text-align: center;">Suma godzin w poprzednim miesiącu: <span style="border: 1px solid #000; padding: 10px; background: black; border-radius: 5px; margin-left: 15px; text-align: center;"> {{sumHouersInLastMonth}} </span> </h2>
   </div>
        <div><a class="raports" style="margin-top: 50px; margin-bottom: 50px; display: inline-block; color: #0be53e; padding: 20px; background: #0c9915; color: #fff; border-radius: 15px; font-weight: 500; text-transform: uppercase; letter-spacing: 2px; font-size: 18px; box-shadow: 6px 10px 58px -13px rgba(0,0,0,0.32);" href="{% url 'polls:raportMont' %}">Zakończenie miesiąca (wygeneruj raport)</a></div>
     <div><a class="raports" style="margin-top: 50px; margin-bottom: 50px; display: inline-block; color: #0be53e; padding: 20px; background: #0c9915; color: #fff; border-radius: 15px; font-weight: 500; text-transform: uppercase; letter-spacing: 2px; font-size: 18px; box-shadow: 6px 10px 58px -13px rgba(0,0,0,0.32);" href="{% url 'polls:endMontRequest' %}">Zgłoś zamknęcie miesiąca</a></div>
    <div><a class="raports" style="margin-top: 50px; margin-bottom: 50px; display: inline-block; color: #0be53e; padding: 20px; background: #0c9915; color: #fff; border-radius: 15px; font-weight: 500; text-transform: uppercase; letter-spacing: 2px; font-size: 18px; box-shadow: 6px 10px 58px -13px rgba(0,0,0,0.32);" href="{% url 'polls:delEndMontReques' %}">Cofnij Zgłoszenie</a></div>


</div>
{% endblock %}